body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    width: 280px;
    padding: 14px;
    background: #0f172a;
    color: #e5e7eb;
}

h3 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

label {
    font-size: 13px;
    color: #cbd5f5;
}



input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #334155;
    background: #020617;
    color: #e5e7eb;
}

input::placeholder {
    color: #64748b;
}

button {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #2563eb;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

#status {
    margin-top: 8px;
    font-size: 12px;
    color: #94a3b8;
}

#notLeetcode {
    color: #f87171;
    font-size: 13px;
    text-align: center;
}